<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Книга рецептов</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/recipes" *ngIf="isAuthenticated">Рецепты</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Список покупок</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/auth" *ngIf="!isAuthenticated">Авторизация</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a
            style="cursor: pointer"
            (click)="onLogout()"
            *ngIf="isAuthenticated"
            >Выход</a
          >
        </li>
        <!-- <li class="dropdown" appDropdown *ngIf="isAuthenticated">
          <a style="cursor: pointer" class="dropdown-toggle" role="button"
            >Управление<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a style="cursor: pointer" (click)="onStoreData()"
                >Сохранить рецепты в базу</a
              >
            </li>
            <li>
              <a style="cursor: pointer" (click)="onFetchData()"
                >Загрузить рецепты из базы</a
              >
            </li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
