.footer {
  height: 80px;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;

}

.footer a {
  cursor: pointer;
  transition: 0.3s all ease-in-out;

}

.footer a:hover {
  transform: scale(1.35);
}

.footer a img {
  height: 32px;
  width: 32px;
  margin: 0 30px;
}