input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.errorForm {
    color: red;
    font-weight: 600;
    font-size: 1.3rem;
}

.center-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}