<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" [@slidingRight]>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid"
          >
            Сохранить</button
          >&nbsp;
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Закрыть</button
          >&nbsp;
          <button type="button" class="btn btn-warning" (click)="onDelete()">
            Удалить
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Название</label>
            <input
              type="text"
              name="name"
              formControlName="name"
              class="form-control"
              id="name"
            />
            <div
              *ngIf="
                !recipeForm.get('name').valid && recipeForm.get('name').touched
              "
            >
              <span
                *ngIf="recipeForm.get('name').errors?.required"
                class="errorForm"
                >Это поле обязательно</span
              >
              <span
                *ngIf="recipeForm.get('name').errors?.maxlength"
                class="errorForm"
                >Превышено допустимое количество символов:
                {{ recipeForm.get("name").errors.maxlength["requiredLength"] }}.
                Вы ввели:
                {{ recipeForm.get("name").errors.maxlength["actualLength"] }}.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" #divRow>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Ссылка на фото блюда</label>
            <input
              type="url"
              name="imagePath"
              class="form-control"
              id="imagePath"
              formControlName="imagePath"
              #imagePath
            />
            <div
              *ngIf="
                !recipeForm.get('imagePath').valid &&
                recipeForm.get('imagePath').touched
              "
            >
              <span
                *ngIf="recipeForm.get('imagePath').errors?.required"
                class="errorForm"
                >Это поле обязательно</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row" [@slidingRight] *ngIf="imagePath.value">
        <div class="col-xs-12 center-image">
          <img [src]="imagePath.value" alt="" class="img-responsive " />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="desc">Описание</label>
            <textarea
              type="text"
              name="desc"
              class="form-control"
              id="desc"
              formControlName="desc"
              rows="6"
            ></textarea>
            <div
              *ngIf="
                !recipeForm.get('desc').valid && recipeForm.get('desc').touched
              "
            >
              <span
                *ngIf="recipeForm.get('desc').errors?.required"
                class="errorForm"
                >Это поле обязательно</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="
              let ingr of recipeForm.get('ingredients')['controls'];
              let i = index
            "
            [formGroupName]="i"
            style="margin-top: 10px"
            [@slidingRight]
          >
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDelIngred(i)"
              >
                X
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddIngred()"
              >
                Добавить новый ингредиент
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
