<div
  [@slidingRight]
  class="h-100 my-details"
  [ngClass]="innerWidth > 768 ? 'overflow-y-auto pe-4' : ''"
>
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="recipeDetails.imagePath"
        [alt]="recipeDetails.title"
        class="img-fluid my-image-details"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipeDetails.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 mb-3">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Настройки рецепта <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="addIngredientsToShoppingList()"
              >Добавить ингредиенты в список покупок</a
            >
          </li>
          <li>
            <a class="dropdown-item" (click)="onEditRecipe()"
              >Редактировать рецепт</a
            >
          </li>
          <li>
            <a class="dropdown-item" (click)="onDeleteRecipe()"
              >Удалить рецепт</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-success [message]="message" *ngIf="message" [@slidingRight]></app-success>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group mb-2">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipeDetails.ingredients"
        >
          {{ ingredient.name }} -
          {{ ingredient.amount + " " + ingredient.measure }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 my-justify">
      {{ recipeDetails.description }}
    </div>
  </div>
</div>
