<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <!-- <ng-container *ngIf="loadedVar === 'recipe'; else elseTemplate">
        <app-recipes></app-recipes>
      </ng-container>
      <ng-template #elseTemplate>
        <app-shopping-list></app-shopping-list>
      </ng-template> -->
      <!-- <app-recipes *ngIf="loadedVar === 'recipe'"></app-recipes> -->
      <!-- <app-shopping-list *ngIf="loadedVar !== 'recipe'"></app-shopping-list> -->
    </div>
  </div>
</div>