<div
  [@slidingLeft]
  class="d-flex flex-column h-100"
  [ngClass]="innerWidth < 768 ? '' : 'p-2 me-3'"
>
  <div class="row mb-3 flex-height">
    <div class="row mb-2">
      <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">
          Новый рецепт
        </button>
      </div>
    </div>
    <div class="row">
      <div class="divSearch">
        <img src="../../../assets/icons/search.svg" class="label-search" />
        <input
          [(ngModel)]="search"
          name="search"
          type="text"
          class="form-control"
          placeholder="Введите название рецепта для поиска..."
        />
      </div>
    </div>
  </div>
  <div
    class="row mt-2 overflow-y-auto flex-height2"
    *ngIf="innerWidth >= 768 ? true : false"
  >
    <div class="col-xs-12 list-group d-flex flex-column">
      <app-recipe-item
        *ngFor="let recipeEl of recipes | searchByTitle : search; let i = index"
        [recipe]="recipeEl"
        [index]="i"
      ></app-recipe-item>
    </div>
  </div>
  <div
    id="carouselExample"
    class="carousel carousel-dark slide"
    *ngIf="innerWidth < 768 ? true : false"
  >
    <div class="carousel-inner pe-5 ps-5">
      <app-recipe-item
        *ngFor="let recipeEl of recipes | searchByTitle : search; let i = index"
        class="carousel-item"
        [recipe]="recipeEl"
        [index]="i"
        [ngClass]="i === 0 ? 'active' : ''"
      ></app-recipe-item>
    </div>
    <button
      class="carousel-control-prev justify-content-start"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next justify-content-end"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
