.divSearch {
    position: relative;
}

.label-search {
    position: absolute;
    filter: invert(80%) sepia(0%) saturate(5944%) hue-rotate(212deg) brightness(98%) contrast(99%);
    z-index: 5;
    top: 9px;
    right: 20px;
}

.fixed-height {
    height: 500px;
    overflow-y: auto;
}

@media only screen and (max-width: 1000px) {
    .fixed-height {
        margin-bottom: 20px;
    }
}
